venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
catboost_info/
.DS_Store

# Large local artifacts you usually should not push
model_dir_final3.zip
model_dir_final3/
model_dir_retrain/
model_dir_retrain_calibrated/
